/* add a border and some padding around class Notifications */
.Notifications {
  border: 2px solid #e0354b;
  padding: 1rem;
  margin: 3rem;
  border-radius: 1rem;
}

.Notifications button,
.close-icon {
  float: inline-end;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  height: 2rem;
  width: 2rem;
  background-image: url(../assets/close-icon.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: white;
  background-position: center;
}

/* Style default priority notifications */
[data-priority="default"] {
  color: blue;
}

/* Style urgent priority notifications */
[data-priority="urgent"] {
  color: red;
}
